/*.dhtmlx_skin_dhx_skyblue div.dhxcont_sb_container {
	height: 28px !important;
}
.dhtmlx_skin_dhx_skyblue div.dhxcont_sb_container div.dhxcont_statusbar {
	height: 27px !important;
	background: none !important;
	border: none !important;
	padding: 0px !important;
	line-height: 14px !important;
}*/
.dhtmlx_skin_dhx_skyblue div.dhxcont_sb_container div.dhxcont_statusbar .dhxtoolbar_hdrline_ll {
	display: none !important;
}
.dhtmlx_skin_dhx_skyblue div.dhxcont_sb_container div.dhxcont_statusbar .dhxtoolbar_hdrline_l {
	left: 0px !important;
}
.dhtmlx_skin_dhx_skyblue div.dhxcont_sb_container div.dhxcont_statusbar .dhxtoolbar_hdrline_rr {
	display: none !important;
}
.dhtmlx_skin_dhx_skyblue div.dhxcont_sb_container div.dhxcont_statusbar .dhxtoolbar_hdrline_r {
	right: 0px !important;
}
.dhx_toolbar_btn div div {
	margin: 0px !important;
	padding: 0px !important;
}
